# Importing important libraries

In [2]:
import pandas as pd  # For DataFrames
import numpy as np  # For numeric calculations
import os  # For file management

# Import CSV files into Pandas

In [14]:
# data set path
path = r"/Users/martin/anaconda_projects/11-02-2025 Instacart Basket Analysis"

In [22]:
# "products" data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [24]:
# "orders" data set
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

#

In [32]:
# The df.describe() function returns descriptive statistics for the numeric values in your dataframe.
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_po
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#

# Mixed-Type Data

In [37]:
# Create a dataframe
df_test = pd.DataFrame()

In [39]:
# Create a mixed type column 
df_test['mix'] = ['a', 'b', 1, True]

In [47]:
# Use head() function to see the new mixed-typed column:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [51]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/772068622.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [53]:
df_test['mix'] = df_test['mix'].astype('str')

#

# Missing Values

## Finding Missing Values

In [57]:
# To fix missing values, you first need to be able to find them.
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [69]:
# That means product_name is missing 16 values!

In [65]:
# To view these 16 values, create a subset of the dataframe containing the values in question
df_nan = df_prods[df_prods["product_name"].isnull() == True]

In [67]:
# To check the results
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

#

## Addressing Missing Values

In [73]:
# There are a few ways to deal with missing data:

# 1) Create a new variable that acts like a flag based on the missing value.

# 2) Impute the value with the mean or median of the column (if the variable is numeric).
# Mean = df.describe() / df['column with missings'].fillna(mean value, inplace=True)
# Median = df_prods.median() / df['column with missings'].fillna(median value, inplace=True)

# 3) Remove or filter out the missing data.

In [77]:
# 3) Before removing or filter out missing data
df_prods.shape # To see the current number of rows in the dataframe

(49693, 5)

In [79]:
# The current dataframe (before removing or filtering) has 49693 rows and 5 columns

In [82]:
# Next, create a new (clean) dataframe (SAME PROCEDURE AS ABOVE AT FINDING MISSING VALUES!)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [84]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [86]:
# The new "cleaned" dataframe shows 16 less rows!

In [88]:
# Another option to do this would be: df_prods.dropna(inplace = True)
# df_prods.dropna(subset = [‘product_name’], inplace = True) # to drop only the NaNs from a particular column!

#

# Duplicates

## Finding Duplicates

In [96]:
# The following command will look for full duplicates within your dataframe:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [251]:
# Executed the command. This will display all the duplicate rows within your dataframe.
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [102]:
# You’ve now located your duplicate rows. Great! All that’s left is to address them.

## Addressing Duplicates

In [121]:
# Now that you’ve identified the duplicate rows within your dataframe, you need to delete them.
# Command: df_dups.drop_duplicates()

In [129]:
# Before doing so, let’s check the current number of rows in your
df_prods_clean.shape

(49677, 5)

In [131]:
# Next, create a new dataframe that doesn’t include the duplicates you just identified using the drop_duplicates() function:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [133]:
df_prods_clean_no_dups.shape

(49672, 5)

In [140]:
# there are exactly five fewer rows: The duplicates are gone!

#

# Tidying Up and Exporting Changes

In [143]:
# The export command takes the following syntax:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

#

# Tasks 4.5: Data Consistency Checks

## Task 2)

In [147]:
# The df.describe() function returns descriptive statistics for the numeric values in your dataframe.
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_po
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [282]:
### Observations from df.describe() Output
### After running the df.describe() function on df_ords, the following observations can be made:

### 1) Potential Missing or Incorrect Values:
###    - The column days_po has a lower count (3.214874e+06) compared to other columns (3.421083e+06), indicating missing values that should be investigated.
###    - The orders_day_of_week column has a min value of 0, while days of the week are usually coded from 1 to 7 or 0 to 6. If 0 is not part of the expected range, this might indicate an error.
###    - The order_hour_of_day column also has a min value of 0, which could mean missing or placeholder values.

### 2) Unusual Ranges:
###    - The order_number column ranges from 1 to 100, which seems reasonable if this represents sequential order numbers per user.
###    - The order_hour_of_day values range from 0 to 23, which aligns with expected values for hours in a day.
###    - The user_id values have a high standard deviation, indicating a large spread of users.

### 3) Potentially Unnecessary Column:
###    - The Unnamed: 0 column appears to be an index or duplicate ID. If it does not provide meaningful information, it can likely be dropped.

#

# Task 3) Looking for mixed Data

In [160]:
# Use head() function to see the df_ords dataframe:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_po
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [162]:
# Check for mixed types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_l/9n60r5ks59sd8bty6knfk2g40000gn/T/ipykernel_91285/1469702764.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [286]:
#Checking the data types of all the columns in the df_ords dataframe
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   order_id            int64
 2   user_id             int64
 3   eval_set            object
 4   order_number        object
 5   orders_day_of_week  int64
 6   order_hour_of_day   int64
 7   days_po             float64
dtypes: float64(1), int64(5), object(2)
memory usage: 208.8+ MB

In [177]:
# The new result shows that almost all columns in the df_ords DataFrame contain mixed data types!

#

## Task 4) Fix mixed data

In [289]:
# 2. Convert mixed types into a standardised type

 # If numeric columns have int and float values:
df_ords["order_number"] = df_ords["order_number"].astype(float)

# If numeric columns incorrectly contain str values:
df_ords["order_number"] = pd.to_numeric(df_ords["order_number"], errors='coerce') 

# If you want to save all values in a column as str:
df_ords["order_number"] = df_ords["order_number"].astype(str)

In [291]:
# 3. Check the changes
df_ords.dtypes

Unnamed: 0              int64
order_id                int64
user_id                 int64
eval_set               object
order_number           object
orders_day_of_week      int64
order_hour_of_day       int64
days_po               float64
dtype: object

In [183]:
#....

#

## Task 5) Check for missing values

In [195]:
# To fix missing values, you first need to be able to find them.
df_ords.isnull().sum()

Unnamed: 0                 0
order_id                   0
user_id                    0
eval_set                   0
order_number               0
orders_day_of_week         0
order_hour_of_day          0
days_po               206209
dtype: int64

In [201]:
# Result: days_po is missing 206209 values!

# Possible Explanation
# The column days_po likely represents the number of days since the prior order. Missing values in this column probably indicate first-time orders, meaning that for these cases, there is no prior order to calculate the days from.

#

## Task 6) Adressing missing values (remove or filter out the missing data)

In [205]:
# Before removing or filter out missing data
df_ords.shape # To see the current number of rows in the dataframe

(3421083, 8)

In [210]:
# The dataframe contain 3421083 rows and 8 frames before cleaning it

In [214]:
# Next, create a new (clean) dataframe (SAME PROCEDURE AS ABOVE AT FINDING MISSING VALUES!)
df_ords_clean = df_ords[df_ords['days_po'].isnull() == False]

In [216]:
# Next, check the new (clean) dataframe
df_ords_clean

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_po
1,1,2398795,1,prior,2.0,3,7,15.0
2,2,473747,1,prior,3.0,3,12,21.0
3,3,2254736,1,prior,4.0,4,7,29.0
4,4,431534,1,prior,5.0,4,15,28.0
5,5,3367565,1,prior,6.0,2,7,19.0
...,...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,prior,10.0,5,18,29.0
3421079,3421079,1854736,206209,prior,11.0,4,10,30.0
3421080,3421080,626363,206209,prior,12.0,1,12,18.0
3421081,3421081,2977660,206209,prior,13.0,1,12,7.0
3421082,3421082,272231,206209,train,14.0,6,14,30.0

In [218]:
# The new "cleaned" dataframe shows 3214874 rows! (3421083 - 206209 = 3214874)

#

## Task 7) Check for duplicate values

In [261]:
# The following command will look for full duplicates within your dataframe:
df_dups_ords = df_ords_clean[df_ords_clean.duplicated()]

In [263]:
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_po]
Index: []

In [265]:
# This result looks strange

In [269]:
# Check: Are there any duplicates at all?
df_ords_clean.duplicated().sum()

0

In [271]:
# The output is 0, which means that there are no complete duplicates in the DataFrame.

#

## Task 9) Tidying Up and Exporting Changes

In [277]:
# The export command takes the following syntax:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))