# Importing important libraries¶

In [11]:
import pandas as pd  # For DataFrames
import numpy as np  # For numeric calculations
import os  # For file management

# Import Pkl files into Pandas

### Task 3)

In [13]:
# Data set path
path = r"/Users/martin/anaconda_projects/11-02-2025 Instacart Basket Analysis"

In [15]:
# Import of the "orders_products_combined" data set 
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 data' , 'Prepared Data' , 'orders_products_combined.pkl'))

In [23]:
# Checking the output
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_po,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [25]:
# Importing the "products_checked" data set 
df_prods = pd.read_csv(os.path.join(path, '02 data' , 'prepared data' , 'products_checked.csv'), index_col = 0)

In [27]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [72]:
# Important insight: # The two data frames have a matching column: product_id

### Task 4)

In [29]:
# Shape check "orders_products_combined" data
df_orders_products_combined.shape

(32434489, 12)

### Task 5)

### Aim of the merge:
### The aim of this task was to connect the cleansed and deduplicated products data set with the existing orders_products_combined data frame. This creates an extended database that contains all relevant information about orders and products.

### As both DataFrames have the product_id column in common, this was used as the key for the merge.

### Execution of the merge: 
### As it is important to only retain order and product data that occurs in both tables, an inner join (how=‘inner’) was used. This means that only those rows where the product_id is present in both DataFrames are retained.

In [31]:
# Merge of the dataframes
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id')

In [33]:
# Check the output
df_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_po,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

### Task 6)

In [35]:
# Let’s see what the merge flag frequency shows us here!
df_merged["_merge"].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

### Conclusion:
### The merge was perfectly harmonised as all product_ids were present on both sides. This confirms that no data was missing or lost, and the resulting DataFrame can now be used for further analyses.

### Task 7)

In [37]:
# The data is saved in two formats:
# - Pickle for fast processing within Python, as it preserves data types accurately.
# - CSV for compatibility with other programs, as it is universally readable.
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))
df_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.csv'))